<% if(typeof errors != 'undefined'){ %> <%errors.forEach((error) => { %>
<p
  style="
    background-color: #ff4d4d;
    margin: 0;
    padding: 3px 0px 3px 5px;
    border-radius: 3px;
  "
>
  <%=error.msg %>
</p>
<br />
<% });%> <% } %> <% if(success_msg!=""){%>
<p
  style="
    background-color: #4caf50;
    margin: 0;
    padding: 3px 0px 3px 5px;
    border-radius: 3px;
  "
>
  <%= success_msg %>
</p>
<br />
<%}%> <% if(error_msg!=""){%>
<p
  style="
    background-color: #ff4d4d;
    margin: 0;
    padding: 3px 0px 3px 5px;
    border-radius: 3px;
  "
>
  <%= error_msg %>
</p>
<br />
<%}%> <% if(error!=""){%>
<p
  style="
    background-color: #ff4d4d;
    margin: 0;
    padding: 3px 0px 3px 5px;
    border-radius: 3px;
  "
>
  <%= error %>
</p>
<br />
<%}%>
