<div id="mySidenav" class="sidenav">
  <div class="sidenav-cover"></div>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
  <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>Report</a>
  <a href="#"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
  <a href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i>Deit plan</a>
</div>
