* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow: auto;
  position: relative;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 6px;
  background-color: rgb(248, 90, 22);
}
.nav {
  display: block;
  overflow: hidden;
  width: 100%;
  background-color: #ebedee;
}
hr {
  margin-top: 50px;
  width: 98%;
  border: 2.5px solid rgb(248, 90, 22);
  border-radius: 45px;
}
.nav a {
  color: rgb(26, 26, 26);
  display: inline-block;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.nav a i {
  text-align: center;
  transition: 0.3s;
}
.nav a :hover {
  color: rgb(248, 90, 22);
}

.main-container {
  margin: 10px;
  font-family: "Noto Sans TC", sans-serif;
}
.main-container a {
  text-decoration: none;
  border: none;
}
.main-container a:hover {
  color: whitesmoke;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  border-top: 3px solid #ffffff;
  padding-left: 15px;
  border-radius: 2.5px;
  color: #ffffff;
}
.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  border-left: 3px solid #ffffff;
  padding-left: 15px;
  border-radius: 2.5px;
  color: #ffffff;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 8px;
  width: 100%;
  height: 275px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.gymworkout {
  margin-top: 50px;
  margin-bottom: 50px;
}
#homeworkout {
  background-image: url(../img/homeworkout.jpg);
}
#stretch {
  background-image: url(../img/stretch.jpg);
}
#chest {
  background-image: url("../img/chest.jpg");
}
#back {
  background-image: url("../img/back.jpeg");
}
#leg {
  background-image: url("../img/leg.jpg");
}
#plan {
  background-image: url("../img/plan.jpg");
}
#triceps {
  background-image: url("../img/triceps.jpg");
}
#abs {
  background-image: url("../img/abs.jpg");
}
#challenge {
  background-image: url(../img/challenge.jpg);
}

#forearms {
  background-image: url("../img/forearm.jpg");
}

#biceps {
  background-image: url("../img/biceps.jpg");
}

#shoulder {
  background-image: url("../img/shoulder.jpg");
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  font-family: "Open Sans", sans-serif;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-image: linear-gradient(
    to right,
    #434343 0%,
    black 100%
  ); /* Black background color */
  color: rgb(252, 249, 247); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-size: 19px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(248, 90, 22);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(248, 90, 22, 0.7);
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
