<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/sidenav.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <title>STAMINA</title>
  </head>
  <body>
    <%- include("./partials/sidenav")%>
    <div class="main-container">
      <div class="row">
        <div class="col-md card">
          <img
            src="../img/main-qimg-cfb5677a755fe7288b608a4fec6f09a0.gif"
            alt="dumbbellsplitsquat"
          />
          <div class="container">
            <h3>Normal plank</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Assume a push-up position but bend your arms at your elbows so
                your weight rests on your forearms.
              </li>
              <li>
                Tighten your abs, clench your glutes and keep your body straight
                from head to heels
              </li>
              <li>
                Hold as long as you can.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"> abs,core</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);"
                >No Equiment Required</strong
              >
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/Side-Plank-Hip-Dips.gif"
            alt="IINCLINE-BENCH-PRESS"
          />
          <div class="container">
            <h3>Side Planks</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Lie on your side with your knees bent, and prop your upper body
                up on your elbow.
              </li>
              <li>
                Raise your hips off the floor, and hold for 6 seconds.
              </li>
              <li>
                Rest for 10 seconds. Repeat 3 to 5 times. Switch to your other
                side and repeat the steps.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">abs,core</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);"
                >No Equiment Required</strong
              >
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/InconsequentialVerifiableCow-size_restricted.gif"
            alt="leg-extensions-exercise"
          />
          <div class="container">
            <h3>Crunches</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Lie down on your back. Plant your feet on the floor, hip-width
                apart. Bend your knees and place your arms across your chest.
                Contract your abs and inhale.
              </li>
              <li>
                Exhale and lift your upper body, keeping your head and neck
                relaxed.
              </li>
              <li>
                Inhale and return to the starting position.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">lower abdomen,abs,core</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);"
                >No Equiment Required</strong
              >
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 card">
          <img
            src="../img/7df78f_94193925f96a419b97efe4e03338c2b7_mv2.gif"
            alt="squats"
          />
          <div class="container">
            <h3>abdominal bicycle</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Lie flat on the floor with your lower back pressed to the ground
                (pull your navel in to also target your deep abs).
              </li>
              <li>
                Put your hands behind your head, then bring your knees in
                towards your chest and lift your shoulder blades off the ground,
                but be sure not to pull on your neck.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">abs</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);"
                >No Equiment Required</strong
              >
            </p>
          </div>
        </div>
        <div class="col-md-4 card">
          <img
            src="../img/e88adc0aed14e349e885e50c7ddc1f93.gif"
            alt="frontsquats"
          />
          <div class="container">
            <h3>Leg Raises</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Lie on your back, legs straight and together.
              </li>
              <li>
                Keep your legs straight and lift them all the way up to the
                ceiling until your butt comes off the floor.
              </li>
              <li>
                Slowly lower your legs back down till they're just above the
                floor. Hold for a moment.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">abs</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);"
                >No Equiment Required</strong
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/sidenav.js"></script>
  </body>
</html>
