<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/sidenav.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <title>STAMINA</title>
  </head>
  <body>
    <%- include("./partials/sidenav")%>
    <div class="main-container">
      <div class="row">
        <div class="col-md card">
          <img src="../img/WidePullUps.gif" alt="PullUps" />
          <div class="container">
            <h3>PULL UPS</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Grab The Bar. Grip it about shoulder-width apart, Hang. Raise
                your feet off the floor by bending your knees.
              </li>
              <li>
                Pull. Pull yourself up by pulling your elbows down to the floor.
              </li>
              <li>
                Pass The bar. Pull yourself all the way up until your chin
                passes the bar. ... Repeat.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >Latissimus dorsi, Deltoid (posterior) Pectoralis major, Teres
                major, Teres minor, Infraspinatus, Triceps brachii (long head),
                Coracobrachialis.
              </strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Pull-Up Bar</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/L-Sit-Chin-Up_resized.gif" alt="chinups" />
          <div class="container">
            <h3>CHIN UPS</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Extend your arms and take a wide,over hand grip on a chinning
                bar.
              </li>
              <li>
                Inhale and pull yourself upward until your eyes are above the
                level of the bar.
              </li>
              <li>Exhale as you complete the movement.</li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >biceps brachii, brachialis, brachioradialis, latissimus dorsi,
                teres major, posterior deltoid.
              </strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Chin-Up Bar</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/lat.gif" alt="lat" />
          <div class="container">
            <h3>LAT PULLDOWNS</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                sit facing the machine and wedge your knee under the restraint
                pad provided.Take a very wide overhand grip on the bar.
              </li>
              <li>
                Inhale and pull the bar down to your upper chest ,arching your
                back and bringing the elbows back.
              </li>
              <li>Exhale as you complete the movement.</li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"> latissimus dorsi </strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Cable Machine</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md card">
          <img src="../img/SeatedRow.gif" alt="SeatedRow" />
          <div class="container">
            <h3>SEATED CABLE ROW</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Sit facing the machine. place your feet against the foot stops
                and lean toward the pulley.
              </li>
              <li>
                Inhale and pull the handle until it touches your lower rib
                cage,arching your back
              </li>
              <li>
                As you pull the handle towards your torso, be sure your elbows
                travel as far backward as possible.Exhale as you complete the
                movement.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Upper Back </strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Cable Machine</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/dumbbell-single-arm-row.gif"
            alt="dumbbell-single-arm-row"
          />
          <div class="container">
            <h3>ONE ARM DUMBBELL ROWS</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Grasp the dumbbell with your plam facing in. Rest the opposite
                hand and the knee on the bench
              </li>
              <li>
                Steady your upper body in position, inhale and pull the dumbell
                as high as possible ,keeping the elbow back.
              </li>
              <li>
                Be sure your upper arm travels a little away from torso.Exhale
                as you complete the movement.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Upper Back </strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell,Bench</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/Bent-Over-Row.gif" alt="" />
          <div class="container">
            <h3>BENT OVER ROW</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Stand with your knee slighly flexed. bend your torso at an angle
                of 45 degrees, keeping your back straight.take an overhand grip
                on the bar with your hand more than shoulder-width apart and
                your arms dangling straight down from your shoulders.
              </li>
              <li>
                Inhale, contract your abdominal isomentrically, and oull the bar
                straight up until it touches your chest.
              </li>
              <li>Return to the starting position,exhaling</li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"> Upper Back</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">BarBell</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/sidenav.js"></script>
  </body>
</html>
