<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/sidenav.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <title>STAMINA</title>
  </head>
  <body>
    <%- include("./partials/sidenav")%>
    <div class="main-container">
      <div class="row">
        <div class="col-md card">
          <img src="../img/unnamed.gif" alt="dumbbellsplitsquat" />
          <div class="container">
            <h3>STANDING BARBELL CURL</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Grab the barbell with an underhand grip, with your your hands
                positioned about as wide as your hips.
              </li>
              <li>
                To emphasize the inner portion of the bicep, take a wider grip;
                to target the outer part of the muscle, bring your hands closer
                together. Start holding the bar at hip height, then squeeze your
                core and contract your biceps to curl the bar up to shoulder
                height
              </li>
              <li>
                Squeeze your biceps at the top of the movement, then slowly
                lower the weight back to the starting position, controlling the
                weight through the eccentric movement. Make sure to keep your
                feet solidly planted throughout the exercise, and don't use your
                hips to lift the weight.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"> Biceps</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Barebell</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/curlsconcentra.gif" alt="IINCLINE-BENCH-PRESS" />
          <div class="container">
            <h3>CONCENTRATION CURL</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                You'll need a dumbbell and a bench to start. Sit on the bench,
                spreading your legs.
              </li>
              <li>
                Rest your arm holding the dumbbell on the same side leg, just
                below the knee, so that the weight hangs down between your legs.
              </li>
              <li>
                Keep your torso upright by stabilizing your off-hand on your
                thigh.
              </li>
              <li>
                Curl the weight up, focusing on squeezing the bicep, pause at
                the top, then lower back into the original position.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Biceps</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);"
                >pair of dumbells,bench</strong
              >
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/684d50925eabbdf60f66d4bf7013c9ef.gif"
            alt="leg-extensions-exercise"
          />
          <div class="container">
            <h3>STANDING DUMBBELL CURL</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Grab a pair of dumbbells and let them hang at arm’s length next
                to your sides with your palms facing your thighs.
              </li>
              <li>
                Without moving your upper arms, bend your elbows and curl the
                dumbbells as close to your shoulders as you can.
              </li>
              <li>
                Pause, then slowly lower the weight back to the starting
                position. Each time you return to the starting position,
                completely straighten your arms.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Biceps</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Pair of dumbells</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md card">
          <img src="../img/4014952b5df13a0e6c1ed8b4338f5966.gif" alt="squats" />
          <div class="container">
            <h3>INCLINE DUMBBELL CURL</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Grab a pair of dumbbells and lie with your back against a bench
                that’s set to a 45-degree incline.
              </li>
              <li>
                Without moving your upper arms, bend your elbows and curl the
                dumbbells as close to your shoulders as you can.
              </li>
              <li>
                Pause, then slowly lower the weight back to the starting
                position. Each time you return to the starting position,
                completely straighten your arms.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Biceps</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/weight_training_biceps_cable_hammer_curl_with_rope_attachment.gif"
            alt="frontsquats"
          />
          <div class="container">
            <h3>CABLE ROPE HAMMER CURL</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Hold both ends of a rope attached to the low pulley of a cable
                machine.
              </li>
              <li>
                Press your elbows into your sides with your palms facing each
                other. Keep your feet shoulder-width apart, your torso upright,
                and your knees slightly bent.
              </li>
              <li>
                Keeping your arms stable throughout the move, curl, the rope
                toward your shoulders, Pause, and reverse the movement to return
                to the starting position.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">biceps</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Machine,rope</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/main-qimg-ea12ae0464714c7a2daaf723012765f3.gif"
            alt=""
          />
          <div class="container">
            <h3>CABLE ALTERNATING FLEX CURL</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Stand between the weight stacks of a cable crossover station and
                grab a high-pulley handle in each hand.
              </li>
              <li>
                Hold your arms out to the sides so they’re parallel to the
                floor. Without moving your right arm, curl your left hand toward
                your head.
              </li>
              <li>
                Slowly allow your left arm to straight and then repeat the move
                with your right arm.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Calf</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell,Bench</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/sidenav.js"></script>
  </body>
</html>
