<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/sidenav.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <title>STAMINA</title>
  </head>
  <body>
    <%- include("./partials/sidenav")%>
    <div class="main-container">
      <div class="row">
        <div class="col-md card">
          <img src="../img/bench-press.gif" alt="BENCH-PRESS" />
          <div class="container">
            <h3>BENCH PRESS</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Lie on your back on a flat bench. keep your buttcks in contact
                with the bench and your feet flat on the floor.
              </li>
              <li>
                Take an overhand grip on the barbell with your hands more than
                shoulder-width apart.
              </li>
              <li>
                Inhale and slowly lower the barbell until it reaches your chest
              </li>
              <li>
                press the weight back up, exhaling as you complete the movement
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">
                Pectoralis,Deltoids,Triceps Brachii</strong
              >
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Barbell,bench</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/incline-bench-press.gif"
            alt="IINCLINE-BENCH-PRESS"
          />
          <div class="container">
            <h3>INCLINE PRESS</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Lie on an incline bench set at an angle ranging between 45 and
                60 degrees. Take an overhand grip on the barbell with your hands
                more than shoulder-width apart.
              </li>
              <li>
                Inhale and lower the barbell until it reaches your jugular notch
                (upper chest at the base of your neck)
              </li>
              <li>
                Press the bar back up to the staright arms length, exhaling as
                you complete the movement.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >Pectoralis Major(Clavicular Head) ,Anterior Deltoids</strong
              >
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Barbell,bench</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/decline-bench-press.gif" alt="DECLINE BENCH PRESS" />
          <div class="container">
            <h3>DECLINE PRESS</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Lie on the decline bench at an angle between 20 and 40 degrees
                with your feet anchored to prevent them from slipping. Take an
                overhand grip on the bar with your hands atleast shoulder-width
                apart
              </li>
              <li>
                Inhale and slowly lower the bar until it reaches the lower edge
                of pectorals
              </li>
              <li>
                Press the bar back up , exhaling as you complete the movement.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >Pectoralis Major Triceps Deltoids</strong
              >
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Barbell,bench</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md card">
          <img src="../img/pushups.gif" alt="PUSHUPS" />
          <div class="container">
            <h3>PUSH-UPS</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Get down on all fours, placing your hands slightly wider than
                your shoulders. Straighten your arms and legs.
              </li>
              <li>
                Lower your body until your chest nearly touches the floor.
              </li>
              <li>
                Pause, then push yourself back up and repeat in a steady pace.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >chest muscles, or pectorals. shoulders, or deltoids. back of
                your arms, or triceps. abdominals. the “wing” muscles directly
                under your armpit, called the serratus anterior.</strong
              >
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">None</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/incline-fly-dumbbell-bench-press.gif"
            alt="incline-fly-dumbbell-bench-press"
          />
          <div class="container">
            <h3>
              Incline Dumbbell Fly
            </h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Set an incline bench to a low incline angle(upto 15-30 degrees).
                Lie down on a bench with your back holding a dumbbell in your
                each hand.
              </li>
              <li>
                Raise the dumbbells up above the chest with the palms facing
                forward and a slight bent at the elbows.Rotate the wrists of
                your hands so that palms of your hands facing you. This will be
                your starting position.
              </li>
              <li>
                As you inhale, slowly begin to lower your arms while keeping the
                arms extended and rotate the wrists until the palms of your
                hands are facing each other.As you exhale, raise the dumbbells
                back up to the starting position by reversing the motion.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >upper chest(clavicular portion of the pectoralis major)
                ,Deltoids ,Triceps</strong
              >
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell,bench</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/pec.gif" alt="" />
          <div class="container">
            <h3>PEC DECK FLYS</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Sit on the machine with your back flat on the pad and place your
                feet flat on the footrest.
              </li>
              <li>
                Take the hold of the handles. Make sure that your upper arms
                should be parallel to the floor; adjust the machine accordingly.
              </li>
              <li>
                While exhaling push the handles together slowly as you squeeze
                your chest muscles in the middle. Hold this contracted position
                for a second.
              </li>
              <li>
                Return back to the starting position as you breathe in until
                your chest muscles are fully stretched.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Pectoralis Major,Sternal</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Machine</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/sidenav.js"></script>
  </body>
</html>
