<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/sidenav.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <title>STAMINA</title>
  </head>
  <body>
    <%- include("./partials/sidenav")%>
    <div class="main-container">
      <div class="row">
        <div class="col-md card">
          <img
            src="../img/12 Forearm Exercises_ With Dumbbells, Machines, and at Home.gif"
            alt="dumbbellsplitsquat"
          />
          <div class="container">
            <h3>Palms-up wrist curl</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                While seated, rest your wrists on your knees or a flat surface
                with your palms facing up, holding a dumbbell in each hand.
              </li>
              <li>
                With a dumbbell in each hand, raise your hands as high as you
                can, keeping your arms still.
              </li>
              <li>
                After a slight pause, lower your hands to the starting position.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">forearms</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/12 Forearm Exercises_ With Dumbbells, Machines, and at Home1.gif"
            alt="IINCLINE-BENCH-PRESS"
          />
          <div class="container">
            <h3>Palms-down wrist curl</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                While seated, rest your wrist on your knees or a flat surface
                with your palms facing down, holding a dumbbell in each hand.
              </li>
              <li>
                Keep your arms still as you raise your hands as high as you can.
              </li>
              <li>
                After a slight pause, return your hands to the starting
                position.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">forearms</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbell</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/12 Forearm Exercises_ With Dumbbells, Machines, and at Home2.gif"
            alt="leg-extensions-exercise"
          />
          <div class="container">
            <h3>Pullups</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                The ideal hand position is with your palms facing away from you,
                but if it’s easier, you can face your palms toward you.
              </li>
              <li>
                Activate your forearms more by gripping the bar more tightly or
                using a thicker bar.
              </li>
              <li>
                Lift yourself toward the bar.You can increase the size of a bar
                by wrapping a towel around it.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">forearms</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Pull up bar</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 card">
          <img
            src="../img/12 Forearm Exercises_ With Dumbbells, Machines, and at Home3.gif"
            alt="squats"
          />
          <div class="container">
            <h3>Forearm squeeze</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Extend and then flex your fingers to squeeze the item.
              </li>
              <li>
                Hold for 3 to 5 seconds and then relax your grip for a few
                seconds.
              </li>
              <li>
                Continue for 10 to 15 minutes. Do this 2 to 3 times per day.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >Quadriceps, Gluteus Maximus, Adductor Magnus, Soleus</strong
              >
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">squeezer</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/sidenav.js"></script>
  </body>
</html>
