<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/sidenav.css" />

    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <title>STAMINA</title>
  </head>
  <body onload="myFunction()">
    <!-- nav-->
    <%- include("./partials/sidenav")%>

    <div class="main-container">
      <div class="row">
        <a href="/stamina/homeworkout" id="homeworkout" class="col-md card">
          <div class="bottomleft">
            <h4>HOME WORKOUTS</h4>
            <p>No Equipment Required</p>
          </div>
        </a>

        <a href="/stamina/stretch" id="stretch" class="col-md card">
          <div class="bottomleft"><h4>STRETCH</h4></div>
        </a>
      </div>

      <div class="gymworkout">
        <div class="row">
          <a id="chest" href="/stamina/gymworkout/chest" class="col-md card"
            ><div class="bottom-left"><p>CHEST</p></div></a
          >
          <a id="back" href="/stamina/gymworkout/back" class="col-md card"
            ><div class="bottom-left"><p>BACK</p></div></a
          >
          <a id="leg" href="/stamina/gymworkout/leg" class="col-md card"
            ><div class="bottom-left"><p>LEGS</p></div></a
          >
          <a id="triceps" href="/stamina/gymworkout/triceps" class="col-md card"
            ><div class="bottom-left"><p>TRICEPS</p></div></a
          >
        </div>

        <div class="row">
          <a id="abs" href="/stamina/gymworkout/abs" class="col-md card"
            ><div class="bottom-left"><p>ABS</p></div></a
          >
          <a
            id="forearms"
            href="/stamina/gymworkout/forearms"
            class="col-md card"
            ><div class="bottom-left"><p>FOREARMS</p></div></a
          >
          <a id="biceps" href="/stamina/gymworkout/biceps" class="col-md card"
            ><div class="bottom-left"><p>BICEPS</p></div></a
          >
          <a
            id="shoulder"
            href="/stamina/gymworkout/shoulder"
            class="col-md card"
            ><div class="bottom-left"><p>SHOULDER</p></div></a
          >
        </div>
      </div>

      <div class="row">
        <a href="/stamina/workoutplans" id="plan" class="col-md card">
          <div class="bottomleft">
            <h4>WORKOUT PLAN</h4>
            <p>Create Your Own Plan</p>
          </div>
        </a>

        <a href="/stamina/challenges" id="challenge" class="col-md card">
          <div class="bottomleft"><h4>CHALLENGES</h4></div>
        </a>
      </div>
    </div>

    <!--snack bar-->
    <div id="snackbar">Welcome <%=name%>!</div>
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <script src="../js/sidenav.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>
