<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/sidenav.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <title>STAMINA</title>
  </head>
  <body>
    <%- include("./partials/sidenav")%>
    <div class="main-container">
      <div class="row">
        <div class="col-md card">
          <img src="../img/dumbbellsplitsquat.gif" alt="dumbbellsplitsquat" />
          <div class="container">
            <h3>DUMBBELL SPLIT SQUAT</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Assume staggered stance holding dumbbells at sides.
              </li>
              <li>
                Bend front knee to lower into lunge until thigh is parallel to
                ground; keep front knee behind toes.
              </li>
              <li>
                Extend hip and knee to drive up to start position; repeat for
                specified reps.
              </li>
              <li>
                Perform set with opposite leg.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"> Quad,Hamstrings,Calf</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/Leg-Press.gif" alt="IINCLINE-BENCH-PRESS" />
          <div class="container">
            <h3>ANGLED LEG PRESS</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Brace your abdominal muscles and push the platform away with
                your heels and forefoot. Your heels should remain flat on the
                footplate. The front of your foot or toes should never be used
                exclusively to move the pad forward.
              </li>
              <li>
                While exhaling, extend your legs and keep your head and back
                flat against the seat pad. Extend with slow control rather than
                with an explosive movement.
              </li>
              <li>
                Pause at the top of the movement. Do not lock out your knees and
                ensure that they are not bowing out or in.
              </li>
              <li>
                While inhaling, return the footplate to the starting position by
                gradually bending the knees. Keep the feet and back flat
                throughout.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Quad,Calf,Hamstrings</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Machine</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/leg-extensions-exercise.gif"
            alt="leg-extensions-exercise"
          />
          <div class="container">
            <h3>LEG EXTENSIONS</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                For this exercise you will need to use a leg extension machine.
                First choose your weight and sit on the machine with your legs
                under the pad i.e. feet pointed forward and the hands holding
                the side bars. This will be your starting position.
              </li>
              <li>
                As you exhale extend your legs to maximum using quadriceps. Be
                sure that the rest of the body remains stationary on the seat.
                Pause a second on the contracted position.
              </li>
              <li>
                As you inhale slowly lower down the weight back to the starting
                position, ensuring that you do not go past the 90-degree angle
                limit and Repeat.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >Quadriceps, Rectus Femoris, Vastus Medialis, Vastus
                Lateralis</strong
              >
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Machine</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md card">
          <img src="../img/squats.gif" alt="squats" />
          <div class="container">
            <h3>SQUATS</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Begin with the barbell supported on top of the traps. The chest
                should be up and the head facing forward. Adopt a hip-width
                stance with the feet turned out as needed.
              </li>
              <li>
                Descend by flexing the knees, refraining from moving the hips
                back as much as possible. This requires that the knees travel
                forward. Ensure that they stay align with the feet. The goal is
                to keep the torso as upright as possible.
              </li>
              <li>
                Continue all the way down, keeping the weight on the front of
                the heel. At the moment the upper legs contact the lower legs
                reverse the motion, driving the weight upward.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;"
                >Quadriceps, Gluteus Maximus, Adductor Magnus, Soleus</strong
              >
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">barbell</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/frontsquats.gif" alt="frontsquats" />
          <div class="container">
            <h3>FRONT SQUATS</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                position the barbell across the your anterior deltoids, hold
                your upper arms parallel to the floor, bend your elbows,cross
                your forearms,grasp the bar,and look staright ahead.
              </li>
              <li>Inhale and squat down.</li>
              <li>
                Return to the starting point ,exhale as you complete the
                movement.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Quad,Calf,Hamstrings</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);"
                >Barbell,Squat Rack</strong
              >
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/calf.gif" alt="" />
          <div class="container">
            <h3>PEC DECK FLYS</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Sit on a flat bench and place your toes on a small board or
                block that should be on the floor about one foot of you.
              </li>
              <li>
                have a dumbbell placed on your lap few inches above your knees.
              </li>
              <li>
                hold the dumbbell in place and then,while breathing out,squeeze
                your calves as you raise your feet so that your toes are on the
                board and your heels are high off the ground.
              </li>
              <li>
                pause momentarily and breathe in as you slowly lower your heels
                back to the grounds.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Calf</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell,Bench</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/sidenav.js"></script>
  </body>
</html>
