<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/sidenav.css" />
    <link rel="stylesheet" href="../css/report.css" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />

    <title>STAMINA</title>
  </head>
  <body>
    <%- include("./partials/sidenav")%>
    <div class="main-container">
      <div class="bmi">
        <h2 id="bmihead" class="text-center">
          <b>B</b>ody <b>M</b>ass <b>I</b>ndex
        </h2>
        <div class="row">
          <div class="col-lg content">
            <form action="/stamina/report/bmi" method="post">
              <label for="weight">Weight(kgs): </label>
              <input
                type="text"
                placeholder="Your Weight"
                name="weight"
                id="weight"
                required
              />
              <label for="height">Height(cms): </label>
              <input
                type="text"
                placeholder="Your Height"
                name="height"
                id="height"
                required
              />
              <!--onfocusout="bmicalculator()"-->

              <div class="text-center">
                <h4 id="result"></h4>
                <p id="bmiresult"></p>
              </div>

              <p class="text-center">
                <input
                  id="save"
                  class="button btn-warning text-center"
                  type="submit"
                  value="Save"
                />
                <input
                  id="bmi"
                  class="button btn-primary text-center"
                  type="button"
                  value="BMI"
                  onclick="bmicalculator()"
                />
              </p>
            </form>
          </div>
          <div class="col-lg content">
            <canvas id="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/sidenav.js"></script>
    <script src="../js/report.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.js"></script>
    <script>
      const ctx = document.getElementById("canvas");
      let chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: <%- JSON.stringify(dates) %>,
          datasets: [
            {
              label: "Your BMI",
              fill: false,
              lineTension: 0,
              backgroundColor: "rgb(248, 90, 22)",
              borderColor: "#595959",
              borderCapStyle: "round",
              pointBackgroundColor: "rgb(248, 90, 22)",
              borderJoinStyle: "round",
              pointBorderColor: "#595959",
              pointBorderWidth: "10px",
              pointHitRadius: "5",
              pointRadius: "7",
              pointHoverBorderColor: "rgba(248, 90, 22,0.7)",
              pointHoverBorderWidth: "10",

              data: <%- JSON.stringify(bmivalue) %>,
            },
          ],
        },
      });
    </script>
  </body>
</html>
