<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/sidenav.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <title>STAMINA</title>
  </head>
  <body>
    <%- include("./partials/sidenav")%>
    <div class="main-container">
      <div class="row">
        <div class="col-md card">
          <img
            src="../img/AffectionateImmenseIrishdraughthorse-max-1mb.gif"
            alt="dumbbellsplitsquat"
          />
          <div class="container">
            <h3>Diamond Push-Ups</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Begin the move by positioning the hands on the mat directly
                under the chest with the fingers spread and the thumbs and
                forefingers touching, making a diamond shape.
              </li>
              <li>
                Straighten the legs into a plank position (harder) or keep the
                knees on the floor for an easier version.
              </li>
              <li>
                Make sure the back is flat and the abs are engaged as you bend
                the elbows, lowering until your chin or chest touches the mat.
                If you can't go that low, go as low as you can—then work to
                build enough strength to lower all the way down over time.
              </li>
              <li>
                At the bottom of the movement, your elbows should stay in close
                to your sides. Press back to start keeping the torso rigid and
                repeat for 1–3 sets of 8–16 reps.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">triceps,chest</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);"
                >No Equiment Required</strong
              >
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/Triceps-Kickback-1.gif" alt="IINCLINE-BENCH-PRESS" />
          <div class="container">
            <h3>Kickbacks</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Prop the right foot on a step or platform, resting the right
                forearm on the thigh to support the back.
              </li>
              <li>
                Hold a weight in the left hand and pull the elbow up to torso
                level.
              </li>
              <li>
                Keeping the elbow in that position, extend the arm behind you,
                focusing on contracting the triceps.
              </li>
              <li>
                Lower the forearm down to about 90 degrees and repeat for 1–3
                sets of 8–16 reps.Focus on keeping the upper arm stationary
                against the body throughout the exercise.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Triceps</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img
            src="../img/dd0a6c3a-7b0a-4997-9416-68fcd83331b8.gif"
            alt="leg-extensions-exercise"
          />
          <div class="container">
            <h3>Overhead Triceps Extension</h3>
            <p>
              level: <strong style="color: rgb(154, 214, 94);">Beginner</strong>
            </p>
            <ul>
              <li>
                Sit on a chair, bench, or ball and hold a weight in both hands,
                extending it up overhead.
              </li>
              <li>
                Keep your biceps close to your ears and elbows pointing forward
                as you lower the weight behind your head until the elbows are at
                about 90-degree angles.
              </li>
              <li>
                Straighten the arms, contracting the triceps, and then repeat
                for 1–3 sets of 8–16 reps.Keep the abs engaged throughout the
                exercise and avoid arching the back.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Triceps</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Dumbbell</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md card">
          <img src="../img/razgibanie-s-kanatnoy-rukoyatkoy.gif" alt="squats" />
          <div class="container">
            <h3>Rope Pushdown</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                At a cable machine with a rope attachment, hold on to the rope
                near the knotted ends and begin the exercise with the elbows
                bent at about 90 degrees, elbows next to the torso.
              </li>
              <li>
                Extend the arms, taking the hands down towards the floor,
                spreading the rope slightly out on either side as you contract
                the triceps.
              </li>
              <li>
                Bring the forearms back to start and repeat for 1–3 sets of 8–16
                reps.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Triceps,Forearms</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Cable Machine</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/skullcrushergif.gif" alt="frontsquats" />
          <div class="container">
            <h3>Lying Barbell Triceps Extensions</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Lie on a bench, step, or floor and hold the barbell with hands
                about shoulder-distance apart.
              </li>
              <li>
                Begin the exercise by extending the weight up over the head,
                palms facing out and thumbs next to the fingers.
              </li>
              <li>
                Bend the elbows and lower the weight until the elbows are at
                about 90-degree angles. This would be the part where you
                wouldn't want to crush your skull by going too low.
              </li>
              <li>
                Squeeze the triceps to straighten the arms without locking the
                joints. Repeat for 1–3 sets of 8–16 reps.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">triceps,forearms</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Barbell,bench</strong>
            </p>
          </div>
        </div>
        <div class="col-md card">
          <img src="../img/pushdown.gif" alt="" />
          <div class="container">
            <h3>Bar Pushdown</h3>
            <p>
              level:
              <strong style="color: rgb(154, 214, 94);">Intermediate</strong>
            </p>
            <ul>
              <li>
                Stand in front of a cable machine, holding onto the bar with the
                elbows bent to about 90 degrees.
              </li>
              <li>
                Keeping the elbows stationary, push the bar down, contracting
                the triceps as you extend the arms.
              </li>
              <li>
                Bring the bar back up to about chest level without moving the
                elbows and repeat for 1–3 sets of 8–16 reps.
              </li>
            </ul>
            <p>
              Muscles Targeted:
              <strong style="color: crimson;">Triceps</strong>
            </p>
            <p>
              Equiment Required:
              <strong style="color: rgb(248, 90, 22);">Cable Machine</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/sidenav.js"></script>
  </body>
</html>
